<mat-card class="card">
  <h1>Add New Quiz</h1>
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <form *ngIf="quiz" (submit)="updateData()">
          <!-- Title Field -->
          <mat-form-field class="textfield">
            <mat-label>Title</mat-label>
            <input
              required
              [(ngModel)]="quiz.title"
              type="text"
              name="Title"
              placeholder="Enter the quiz title"
              matInput
            />
          </mat-form-field>

          <!-- Desciption field -->
          <mat-form-field class="textfield" appearance="fill">
            <mat-label>Description</mat-label>
            <textarea
              [(ngModel)]="quiz.description"
              type="text"
              name="Description"
              placeholder="Enter about the quiz"
              matInput
              rows="3"
            ></textarea>
          </mat-form-field>

          <!-- Questions -->
          <div class="row">
            <!-- Max Marks -->
            <div class="col-md-6">
              <mat-form-field class="textfield">
                <mat-label>Maximum Marks</mat-label>
                <input
                  [(ngModel)]="quiz.maxMarks"
                  type="number"
                  name="maxMarks"
                  placeholder="Enter total marks"
                  matInput
                />
              </mat-form-field>
            </div>

            <!-- Number of Questions -->
            <div class="col-md-6">
              <mat-form-field class="textfield">
                <mat-label>Number of Questions</mat-label>
                <input
                  [(ngModel)]="quiz.numberOfQuestions"
                  type="number"
                  name="numberOfQuestions"
                  placeholder="Enter total number of questions"
                  matInput
                />
              </mat-form-field>
            </div>
          </div>

          <!-- Select Category -->
          <mat-form-field appearance="fill" class="select">
            <mat-label>Select Category</mat-label>
            <mat-select name="category" [(ngModel)]="quiz.category.cid">
              <mat-option *ngFor="let c of categories" [value]="c.cid">
                {{ c.title }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <!-- Active Field -->
          <mat-slide-toggle
            name="active"
            [(ngModel)]="quiz.active"
            class="slide"
            [color]="color"
            [checked]="false"
          >
            Publish Status
          </mat-slide-toggle>

          <div class="container text-center">
            <button class="btn" mat-raised-button color="primary" type="submit">
              Click to Update
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</mat-card>
