<div class="main">
  <div class="bootstrap-wrapper">
    <div class="container">
      <div class="row mt20">
        <div class="col-md-6 offset-md-3">
          <mat-card class="card">
            <div class="container text-center" style="margin-top: 20px">
              <img class="img" src="../../../assets/Final logo.png" alt="" />
            </div>

            <h1
              class="text-center"
              style="
                font-family: 'MyFont3',
                  serif;
                font-weight: 500;
                font-size: 45px;
                margin-bottom: 25px;
              "
            >
              Login
            </h1>

            <form (ngSubmit)="formSubmit()">
              <!-- Username -->

              <mat-form-field class="form-field" appearance="outline">
                <mat-label>Username</mat-label>
                <input
                  class="input1"
                  [(ngModel)]="loginData.username"
                  name="username"
                  required
                  matInput
                  placeholder="Enter your username"
                />
                <mat-icon matSuffix class="icon">person</mat-icon>
              </mat-form-field>
              <!-- Password -->
              <mat-form-field class="form-field" appearance="outline">
                <mat-label>Enter your password</mat-label>
                <input
                  [(ngModel)]="loginData.password"
                  type="password"
                  matInput
                  name="password"
                  placeholder="Enter your password"
                />
                <mat-icon matSuffix class="icon">lock</mat-icon>
              </mat-form-field>

              <div class="container text-center">
                <button
                  class="btn"
                  mat-raised-button
                  style="background-color: rgb(245, 43, 154);font-family: 'Myfont1';font-size: medium;font-weight: 560;"
                  type="submit"
                >
                  Login
                </button>
                <button
                  class="btn2"
                  mat-raised-button
                  color="accent"
                  type="reset"
                  style="font-family: 'Myfont1';font-size: medium;font-weight: 550;"
                >
                  Reset
                </button>
              </div>
              <div class="register-here">

                Don't have an account ? <button class="register-link" mat-button [routerLink]="'/register'">Register</button>

              </div>
            </form>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
