<div class="img"></div>
<div class="center">
  <h2 class="title">Welcome to Online Exam Portal</h2>
  <div class="sub_title">Technology-driven way to simplify exam activities</div>
</div>
<div class="main">
  <div class="bootstrap-wrapper">
    <div class="container-fluid">
      <h1 class="title-team">Our Team</h1>
      <div class="row">
        <div style="display: flex; flex-direction: row; padding-bottom: 40px">
          <mat-card class="team">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title class="name1">Arpita Jena</mat-card-title>
              <mat-card-subtitle class="sub">Team Leader</mat-card-subtitle>
            </mat-card-header>
            <img
              class="img-team"
              id="img-AA"
              mat-card-image
              src="../../../assets/Arpita1.jpg"
            />
            <mat-card-content> </mat-card-content>
          </mat-card>
          <mat-card class="team1">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title class="name2"
                >Amrita Priyadarshini</mat-card-title
              >
              <mat-card-subtitle class="sub1">Team Member</mat-card-subtitle>
            </mat-card-header>
            <img
              class="img-team1"
              id="img-AD"
              mat-card-image
              src="../../../assets/Amrita.jpg"
            />
            <mat-card-content> </mat-card-content>
          </mat-card>
          <mat-card class="team">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title class="name1">Ankita Jena</mat-card-title>
              <mat-card-subtitle class="sub">Team Member</mat-card-subtitle>
            </mat-card-header>
            <img
              class="img-team3"
              id="img-AA"
              mat-card-image
              src="../../../assets/Ankita.jpg"
            />
            <mat-card-content> </mat-card-content>
          </mat-card>
          <mat-card class="team1">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title class="name2"
                >Diptimayee Manasingh</mat-card-title
              >
              <mat-card-subtitle class="sub1">Team Member</mat-card-subtitle>
            </mat-card-header>
            <img
              class="img-team1"
              id="img-AD"
              mat-card-image
              src="../../../assets/Dipti1.jpg"
            />
            <mat-card-content> </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>

<mat-card class="about">
  <mat-card-header>
    <h1 class="title-about" id="about">About</h1>
  </mat-card-header>
  <mat-card-content class="content">
    <p class="content1">
      Online Examination Portal is a technology-driven way to simplify
      examination activities like defining exam patterns with question banks,
      defining exam timers, objective question sections, and conducting exams
      using a computer in a paperless manner. Online Examination Portal is a
      cost-effective, scalable way to convert traditional pen and paper-based
      exams to online and paperless mode. Candidates can appear for the exam
      using any desktop, laptop with a browser. Exam results can be generated
      instantly for the objective type of questions. It can simplify overall
      examination management and result in generation activity.
    </p>
  </mat-card-content>
</mat-card>

<mat-card
  style="
    background-image: url(https://coolbackgrounds.io/images/unsplash/josh-bean-medium-9501ba9f.jpg);
    width: 100%;
    background-size: cover;
    background-position: center;
    filter: brightness(70%);
    filter: contrast(100%);
    filter: saturate(180%);
    padding-top: 30px;
    padding-bottom: 30px;
  "
>
  <mat-card class="contact-card">
    <h1
      id="contact"
      class="text-center"
      style="
        margin-top: 10px;
        font-size: xxx-large;
        font-weight: 100;
        font-family: 'MyFont2';
      "
    >
      Contact
    </h1>
    <mat-list>
      <mat-list-item class="list">
        <mat-icon class="icon-text">mail</mat-icon>
        <span class="font-contact">jayalaxmiroutray2000@gmail.com</span>
      </mat-list-item>
      <mat-list-item>
        <mat-icon class="icon-text">call</mat-icon>
        <span class="font-contact"> +91 7008023228</span>
      </mat-list-item>
      <mat-list-item>
        <mat-icon class="icon-text">location_on</mat-icon>
        <span class="font-contact"> Bhubaneswar,Odisha,India</span>
      </mat-list-item>
    </mat-list>
  </mat-card>
</mat-card>

<mat-card class="icons">
  <span>
    <ul>
      <i
        class="pi pi-instagram"
        style="
          font-size: xx-large;
          color: #ac2bac;
          margin-right: 20px;
          margin-left: 550px;
        "
      ></i>
      <i
        class="pi pi-facebook"
        style="font-size: xx-large; color: #3b5998; margin-right: 20px"
      ></i>
      <i
        class="pi pi-github"
        style="font-size: xx-large; color: #f5f1f1f5; margin-right: 20px"
      ></i>
      <i
        class="pi pi-twitter"
        style="font-size: xx-large; color: #55acee; margin-right: 20px"
      ></i>
    </ul>
  </span>
</mat-card>
